In [17]:
# Importando as bibliotecas
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [18]:
# Leitura da base de dados
df_best = pd.read_csv('dataset/best_selling_video_games.csv')

In [19]:
# Inspesao do DataFrame
display(df_best.head(3))
display(df_best.tail(3))
display(df_best.shape)
display(df_best.info())
display(df_best.isnull().sum())

,Rank,Title,Platform(s),Developer(s),Publisher(s),Ref.,Releaseyear,Sales(millions),Series,Table_Number
0,1,Minecraft,Multi-platform,Mojang Studios,Mojang Studios,NaN,2011[b],350,Minecraft,1
1,2,Grand Theft Auto V,Multi-platform,Rockstar North,Rockstar Games,NaN,2013,225,Grand Theft Auto,1
2,3,Wii Sports[a],Wii,Nintendo EAD,Nintendo,NaN,2006,82.9,Wii,1

,Rank,Title,Platform(s),Developer(s),Publisher(s),Ref.,Releaseyear,Sales(millions),Series,Table_Number
47,48,Pokémon Sun/Moon/Ultra Sun/Ultra Moon,Nintendo 3DS,Game Freak,Nintendo/The Pokémon Company,[s],2016,25.59,Pokémon,1
48,49,Garry's Mod,PC,Facepunch Studios,Valve,NaN,2006,25.56,NaN,1
49,50,Pokémon Diamond/Pearl/Platinum,Nintendo DS,Game Freak,Nintendo/The Pokémon Company,[t],2006,25.5,Pokémon,1

(50, 10)

<class 'pandas.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Rank             50 non-null     str
 1   Title            50 non-null     str
 2   Platform(s)      50 non-null     str
 3   Developer(s)     50 non-null     str
 4   Publisher(s)     42 non-null     str
 5   Ref.             10 non-null     str
 6   Releaseyear      50 non-null     str
 7   Sales(millions)  49 non-null     str
 8   Series           45 non-null     str
 9   Table_Number     50 non-null     int64
dtypes: int64(1), str(9)
memory usage: 4.0 KB

None

Rank                0
Title               0
Platform(s)         0
Developer(s)        0
Publisher(s)        8
Ref.               40
Releaseyear         0
Sales(millions)     1
Series              5
Table_Number        0
dtype: int64

In [20]:
# Tratamento e limpeza do DataFrame
mask_numerico = df_best['Rank'].astype(str).str.fullmatch(r"\d+")
df_best = df_best[mask_numerico]
df_best = df_best.drop(columns=["Ref."])
df_best['Rank'] = df_best['Rank'].astype(int)
df_best['Releaseyear'] = df_best['Releaseyear'].str.strip()
df_best['Releaseyear'] = df_best['Releaseyear'].str.replace(r"[\[\]]", "", regex=True)
df_best['Releaseyear'] = df_best['Releaseyear'].str.replace(r"[A-Za-z]", "", regex=True)
df_best['Releaseyear'] = pd.to_numeric(df_best['Releaseyear'], errors='coerce')
df_best['Sales(millions)'] = df_best['Sales(millions)'].astype(float)
df_best['Table_Number'] = df_best['Table_Number'].astype(int)
moda_coluna = df_best['Series'].mode()[0]
df_best['Series'] = df_best['Series'].fillna(moda_coluna)
df_best['Platform(s)'] = df_best['Platform(s)'].str.strip().str.lower()
display(df_best.head(3))
display(df_best.info())
display(df_best.nunique())

,Rank,Title,Platform(s),Developer(s),Publisher(s),Releaseyear,Sales(millions),Series,Table_Number
0,1,Minecraft,multi-platform,Mojang Studios,Mojang Studios,2011,350.0,Minecraft,1
1,2,Grand Theft Auto V,multi-platform,Rockstar North,Rockstar Games,2013,225.0,Grand Theft Auto,1
2,3,Wii Sports[a],wii,Nintendo EAD,Nintendo,2006,82.9,Wii,1

<class 'pandas.DataFrame'>
Index: 42 entries, 0 to 49
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Rank             42 non-null     int64
 1   Title            42 non-null     str
 2   Platform(s)      42 non-null     str
 3   Developer(s)     42 non-null     str
 4   Publisher(s)     42 non-null     str
 5   Releaseyear      42 non-null     int64
 6   Sales(millions)  42 non-null     float64
 7   Series           42 non-null     str
 8   Table_Number     42 non-null     int64
dtypes: float64(1), int64(3), str(5)
memory usage: 3.3 KB

None

Rank               42
Title              42
Platform(s)        11
Developer(s)       26
Publisher(s)       18
Releaseyear        24
Sales(millions)    42
Series             21
Table_Number        1
dtype: int64